body{
    font-family: 'Poppins', sans-serif;
}
header{
   
}
.top-part{
    background-color: rgb(26, 26, 177);
}
.baner{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.baner-tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-weight: 600px;
}
.btn{
    background-color: crimson;
    color:white;
    border-radius: 5px;
}
.baner-image{
    width: 530px;
    height: 440px;
    border: 1px solid rgb(26, 26, 177);
}
.baner-image img{
    width: 100%;
}
/* player part start */
 #players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    margin-left: 70px;
 }
.player{
    border: 1px solid white;
    width: 330px;
    height: 370px;
   
}
.player-img{
    border: 2px solid white;
    width: 300px;
    height: 250px;
}
.player-img img{
    width: 100%;
}
 
/* main part end */
/* footer part start */
.fot-baner{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
}
/* footer part end */
 